.content {
     width: 100%;
     align-items: center;
     margin-top: 60px;
     position: absolute;


    .content-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        height: 400px;
        margin: 0 auto;
        width: 980px;
        grid-gap: 16px;
        padding: 40px 40px;
        background-color: rgba($color: #FFB600, $alpha: 0.86);
        max-width: 1100px;

        @media screen and (max-width: 786px) {
            grid-template-columns: 1fr;
            max-width: 300px;
            height: 940px;
        }
        

        .bagian-kiri {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            @media screen and (max-width: 786px) {
                margin-top: 400px;
            }  

            .penjelasan1 {
                display: flex;
                width: 400px;
                align-items: center;
                margin: 8px 0;


                @media screen and (max-width: 786px) {
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    width: 260px;
                }

                .gambar {
                    width: 80px;
                    height: 80px;
                    margin-right: 12px;
                }

                .detail {
                    flex-direction: column;

                    .title {
                        color: #0D579A;
                        margin-bottom: 8px;
                    }

                    .descripton {
                        color: #0D579A;
                        font-size: 12px;
                    }
                }
            }
        }

        .bagian-kanan {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;

            .textwrapper {
                align-items: center;
                text-align: center;
                width: 400px;
                top: -24px;
                height: 440px;
                background-color: white;
                padding: 60px 40px;
                position: absolute;

                @media screen and (max-width: 786px) {
                    width: 276px;
                }
                

                .text1 {
                    color: #FFB600;
                    margin-top: 16px;
                    font-weight: bold;
                    margin-bottom: 32px;

                    @media screen and (max-width: 786px) {
                        margin-bottom: 12px;
                    }
                }

                .text2 {
                    color: #707070;
                    font-size: 14px;
                }

                .mail {
                    padding: 7px;
                    background-color: #FFB600;
                    border-radius: 12px 0 0 12px;
                    margin-left: 20px;
                    display: flex;
                    position: absolute;

                    @media screen and (max-width: 786px) {
                    margin-left: 0;
                    }
                }


                .button2 {
                    width: 280px;
                    padding: 12px 0;
                    font-size: 14px;
                    border: none;
                    color: white;
                    border-radius: 40px;
                    background-color: #FFB600;

                    @media screen and (max-width: 786px) {
                        width: 200px;
                    }

                    &:hover {
                        background-color: #0D579A;
                    }
                }
            }
        }
    }
}